{% if submission.protocol.status == "R" %}
    <div class='row'>
        <div class='col-md-12'>
            <div class='alert alert-warning'>
                <h4>{% trans %}Reason that this protocol was rejected{% endtrans %}</h4>
                {{ submission.protocol.rejectReason }}
            </div>
        </div>
    </div>
{% endif %}

{% if submission.isTranslation %}
    <div class='row'>
        <div class='col-md-12'>
            <div class='alert alert-info'>
                <h4>
                    {% trans %}This is a translated version.{% endtrans %}
                    <a href="{{ path("submission_new_first_created_protocol_step", {submission_id: submission.originalSubmission.id}) }}">{% trans %}See original{% endtrans %}.</a>
                </h4>
            </div>
        </div>
    </div>
{% endif %}

{% if submission.totalTranslations > 0 %}
    <div class='row'>
        <div class='col-md-12'>
            <div class='alert alert-info'>
                <h4>
                    {% trans %}This submission has translations{% endtrans %}:
                    <ul>
                        {% for translation in submission.translations %}
                            <li>
                                <a href="{{ path("submission_new_first_created_protocol_step", {submission_id: translation.id}) }}">
                                    {% if translation.language == 'pt_BR' %}Português{% endif %}
                                    {% if translation.language == 'es_ES' %}Español{% endif %}
                                    {% if translation.language == 'en' %}English{% endif %}
                                    {% if translation.language == 'fr_FR' %}Français{% endif %}
                                </a>
                            </li>
                    {% endfor %}
                    </ul>
                </h4>
            </div>
        </div>
    </div>
{% endif %}

<div class='row'>
    <div class='col-md-12'>
        <ul class="nav nav-tabs" id='new-submission-tab'>
            <!-- <li role="presentation">
                <a href="javascript:void(0)" title="{% trans %}First Information{% endtrans %}">
                    {% trans %}First Information{% endtrans %}
                </a>
            </li> -->
            <li role="presentation" {% if app.request.get('_route') == "submission_new_first_created_protocol_step" %}class='active'{% endif %}>
                <a href="{{ path('submission_new_first_created_protocol_step', {'submission_id': submission.id }) }}" title="{% trans %}First Information{% endtrans %}">{% trans %}First Information{% endtrans %}</a>
            </li>
            <li role="presentation" {% if app.request.get('_route') == "submission_new_second_step" %}class='active'{% endif %}>
                <a href="{{ path('submission_new_second_step', {'submission_id': submission.id }) }}" title="{% trans %}About Project{% endtrans %}">{% trans %}About Project{% endtrans %}</a>
            </li>
            {% if not submission.isConsultation %}
                <li role="presentation" {% if app.request.get('_route') == "submission_new_third_step" %}class='active'{% endif %}>
                    <a href="{{ path('submission_new_third_step', {'submission_id': submission.id }) }}" title='{% trans %}Clinical study{% endtrans %}'>{% trans %}Clinical study{% endtrans %}</a>
                </li>
                <li role="presentation" {% if app.request.get('_route') == "submission_new_fourth_step" %}class='active'{% endif %}>
                    <a href="{{ path('submission_new_fourth_step', {'submission_id': submission.id }) }}" title='{% trans %}Additional Information{% endtrans %}'>{% trans %}Additional Information{% endtrans %}</a>
                </li>
                <li role="presentation" {% if app.request.get('_route') == "submission_new_fifth_step" %}class='active'{% endif %}>
                    <a href="{{ path('submission_new_fifth_step', {'submission_id': submission.id }) }}" title='{% trans %}Bibliography{% endtrans %}'>{% trans %}Bibliography{% endtrans %}</a>
                </li>
            {% endif %}
            <li role="presentation" {% if app.request.get('_route') == "submission_new_sixth_step" %}class='active'{% endif %}>
                <a href="{{ path('submission_new_sixth_step', {'submission_id': submission.id }) }}" title='{% trans %}Attached Files{% endtrans %}'>{% trans %}Attached Files{% endtrans %}</a>
            </li>
            <li role="presentation" {% if app.request.get('_route') == "submission_new_seventh_step" %}class='active'{% endif %}>
                <a href="{{ path('submission_new_seventh_step', {'submission_id': submission.id }) }}" title='{% trans %}Revision{% endtrans %}'>{% trans %}Revision{% endtrans %}</a>
            </li>
        </ul>
    </div>
</div>

<div class='new-submission-tab-content'>
    <div class='row submission-meta'>
        {% if app.request.get('_route') != "submission_new_first_step" %}
            <div class='col-md-1'>
                <img src='{{ asset("bundles/proethos2core/img/icon-submission.png") }}'>
            </div>

            <div class='col-md-5'>
                <div class='block'>
                    <div class='label'>{% trans %}Project Title{% endtrans %}</div>
                    <h2>
                        {{ submission.publicTitle }}
                        {% if submission.isTranslation %}
                            <small>
                                {% trans %}translation{% endtrans %}{% endif %}:
                                {% if submission.language == 'pt_BR' %}Português{% endif %}
                                {% if submission.language == 'es_ES' %}Español{% endif %}
                                {% if submission.language == 'en' %}English{% endif %}
                                {% if submission.language == 'fr_FR' %}Français{% endif %}
                            </small>
                    </h2>
                </div>
            </div>

            <div class='col-md-2'>
                <div class='block'>
                    <div class='label'>{% trans %}First Author{% endtrans %}</div>
                    <h3>{{ submission.owner }}</h3>
                </div>
            </div>

            <div class='col-md-2'>
                <div class='block'>
                    <div class='label'>{% trans %}Main Type{% endtrans %}</div>
                    <h3>-</h3>
                </div>
            </div>

            <div class='col-md-2'>
                <div class='block'>
                    <div class='label'>{% trans %}Updated At{% endtrans %}</div>
                    <h3>{{ submission.updated|date('d/m/Y') }}</h3>
                </div>
            </div>
        {% endif %}
    </div>
</div>
