{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' id='form-sixth' action='{{ path("submission_new_sixth_step", {submission_id: submission.id}) }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-sixty-step') }}"/>
                <input type='hidden' name='submission_id' value='{{ submission.id }}'>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}File submission{% endtrans %}:</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <table class='table table-hover table-condensed' id='table-attachment'>

                                <thead>
                                    <tr>
                                        <th>{% trans %}Type{% endtrans %}</th>
                                        <th>{% trans %}File name{% endtrans %}</th>
                                        <th>{% trans %}Date & Time{% endtrans %}</th>
                                        <th>{% trans %}Actions{% endtrans %}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for file in submission.attachments %}
                                        <tr>
                                            <td>{{ file.uploadType }}</td>
                                            <td>{% if file.uploadType.slug in ['protocol'] %}{{ file.filename }}{% else %}{{ file }}{% endif %}</td>
                                            <td>{{ file.created|date("d/m/Y H:i") }}</td>
                                            <td>
                                                <a href='{{ path("protocol_upload", {'upload_id': file.id }) }}' target="_blank" class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                                                <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment">
                                                    <i class='glyphicon glyphicon-trash'></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-file">{% trans %}New Attachment{% endtrans %}</a>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Novo Arquivo -->
    <div class="modal fade" id="modal-new-file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-new-attachment' enctype="multipart/form-data" action="{{ path("submission_new_sixth_step", {submission_id: submission.id}) }}">

                <input type="hidden" name="token" value="{{ csrf_token('submission-sixty-step') }}"/>
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ 50*1024*1024 }}" />

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="select-new-attachment-type">{% trans %}Type{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 11} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <select class='form-control' data-live-search="true" name='new-attachment-type' id='select-new-attachment-type' required>
                                <option></option>
                                {% for type in upload_types %}
                                    {% if type.slug not in ['protocol', 'opinion'] %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="input-new-attachment-file">{% trans %}File{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 12} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='file' class='form-control' name='new-attachment-file' id='input-new-attachment-file' required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Confirmar Exclusão -->
    <div class="modal fade" id="modal-delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-delete-attachment' action="{{ path("submission_new_sixth_step", {submission_id: submission.id}) }}">
                
                <input type="hidden" name="token" value="{{ csrf_token('submission-sixty-step') }}"/>
                <input type="hidden" name="delete-attachment-id" id='hidden-delete-attachment' value="" />

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <p>{% trans %}Do you confirm the exclusion of this attachment?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#table-attachment").on("click", ".button-delete-attachment", function(e){
                var id = $(this).data('id');
                $("#hidden-delete-attachment").val(id);
            });

            $('#modal-delete-attachment').on('hidden.bs.modal', function () {
                $("#hidden-delete-attachment").val("");
            });

            $("#select-new-attachment-type").selectpicker();

            $("#select-new-attachment-type").on('loaded.bs.select', function() {
                var options = $("#select-new-attachment-type option");

                options.sort(function(a,b) {
                    if (a.text > b.text) return 1;
                    else if (a.text < b.text) return -1;
                    else return 0;
                });

                $(this).empty().append(options).selectpicker("refresh");
            });
        });
    </script>
{% endblock %}
