{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' id='form-submission' action='{{ path("submission_new_third_step", {submission_id: submission.id}) }}'>

                <input type='hidden' name='submission_id' value='{{ submission.id }}'>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}General description{% endtrans %}</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="textarea-study-design">{% trans %}Study design{% endtrans %}</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 17} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="4" class="form-control" name='study-design' id='textarea-study-design' required>{{ submission.studyDesign }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textarea-health-condition">{% trans %}Health Condition or Problem Studied{% endtrans %}</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 18} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="4" class="form-control" name='health-condition' id='textarea-health-condition'>{{ submission.healthCondition }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}General description{% endtrans %}</h2>
                        </div>
                    </div>

                    {% if not submission.isTranslation %}
                        <div class='row'>
                            <div class="col-md-3">
                                <div class="form-group required">
                                    <label for="select-gender">{% trans %}Gender{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 19} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <select class='form-control' id='select-gender' name='gender' required>
                                        <option value="">-</option>
                                        {% for gender in genders %}
                                            <option value="{{ gender.id }}" {% if submission.gender == gender %}selected{% endif %}>{{ gender.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group required">
                                    <label for="input-sample-size">{% trans %}Target sample size{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 20} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="number" class="form-control" placeholder="" min="1" value="{{ submission.sampleSize }}" id='input-sample-size' name='sample-size' required>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group required">
                                    <label for="input-minimum-age">{% trans %}Minimum Age{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="number" class="form-control" placeholder="" min="0" value="{{ submission.minimumAge }}" name='minimum-age' id='input-minimum-age' required>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="input-maximum-age">{% trans %}Maximum Age{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 22} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="number" class="form-control" placeholder="" min="0" value="{{ submission.maximumAge }}" name='maximum-age' id='input-maximum-age'>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="textarea-inclusion-criteria">{% trans %}Inclusion criteria{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 23} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="5" class="form-control" id='textarea-inclusion-criteria' name='inclusion-criteria' required>{{ submission.inclusionCriteria }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="textarea-exclusion-criteria">{% trans %}Exclusion criteria{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 24} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="5" class="form-control" id='textarea-exclusion-criteria' name='exclusion-criteria' required>{{ submission.exclusionCriteria }}</textarea>
                            </div>
                        </div>
                    </div>

                    {% if not submission.isTranslation %}
                        <div class='row'>
                            <div class="col-md-12">
                                <div class="form-group required">
                                    <label for="input-recruitment-init-date">{% trans %}Estimated date of initial recruitment{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class='form-control datepicker' id='input-recruitment-init-date' name='recruitment-init-date' value='{{ submission.recruitmentInitDate|date("Y-m-d") }}' required>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="select-recruitment-status">{% trans %}Recruitment Status{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 26} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <select class='form-control' id='select-recruitment-status' name='recruitment-status'>
                                        <option value="">-</option>
                                        {% for status in recruitment_statuses %}
                                            <option value="{{ status.id }}" {% if status == submission.recruitmentStatus %}selected{% endif %}>{{ status.name }}</option>
                                        {% endfor %}
                                        <!-- <option value="R" {% if submission.recruitmentStatus == "R" %}selected{% endif %}>{% trans %}Recruiting{% endtrans %}</option>
                                        <option value="S" {% if submission.recruitmentStatus == "S" %}selected{% endif %}>{% trans %}Suspended{% endtrans %}</option>
                                        <option value="C" {% if submission.recruitmentStatus == "C" %}selected{% endif %}>{% trans %}Completed{% endtrans %}</option>
                                        <option value="O" {% if submission.recruitmentStatus == "O" %}selected{% endif %}>{% trans %}Other{% endtrans %}</option> -->
                                    </select>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>


                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Recruitment Countries{% endtrans %}:</h2>
                        </div>
                    </div>

                    {% if not submission.isTranslation %}
                        <div class='row'>
                            <div class="col-md-12">
                                <table class='table table-hover table-condensed' id='table-country'>

                                    <thead>
                                        <tr>
                                            <th width="50%">{% trans %}Countrỳ{% endtrans %}</th>
                                            <th>{% trans %}Total of participants{% endtrans %}</th>
                                            <th>{% trans %}Actions{% endtrans %}</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for country in submission.country %}
                                        <tr>
                                            <input type='hidden' name='country[{{ loop.index0 }}][country_id]' value='{{ country.country.id }}'>
                                            <input type='hidden' name='country[{{ loop.index0 }}][participants]' value='{{ country.participants }}'>

                                            <td>{{ country.country }}</td>
                                            <td><label class='label label-default'>{{ country.participants }}</label></td>
                                            <td><a href='#' class='btn btn-default btn-xs button-remove-country'><i class='glyphicon glyphicon-trash'></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-country">{% trans %}New Country{% endtrans %}</a>
                            </div>
                        </div>
                    {% endif %}

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="textarea-interventions">{% trans %}Interventions{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 27} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="4" class="form-control" id='textarea-interventions' name='interventions' required>{{ submission.interventions }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Outcomes{% endtrans %}</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="textarea-primary-outcome">{% trans %}Primary outcomes{% endtrans %}</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 28} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="4" class="form-control" id='textarea-primary-outcome' name='primary-outcome' required>{{ submission.primaryOutcome }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textarea-secondary-outcome">{% trans %}Secondary outcomes{% endtrans %}</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 29} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="4" class="form-control" id='textarea-secondary-outcome' name='secondary-outcome'>{{ submission.secondaryOutcome }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Methodology{% endtrans %}</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textarea-general-procedures">{% trans %}General Procedures{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 30} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="4" class="form-control" id='textarea-general-procedures' name='general-procedures'>{{ submission.generalProcedures }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textarea-analysis-plan">{% trans %}Analysis Plan{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 31} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="4" class="form-control" id='textarea-analysis-plan' name='analysis-plan'>{{ submission.analysisPlan }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Ethical Considerations{% endtrans %}:</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textarea-ethical-considerations">{% trans %}Ethical Considerations{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 32} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="4" class="form-control" id='textarea-ethical-considerations' name='ethical-considerations'>{{ submission.ethicalConsiderations }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Novo País -->
    <div class="modal fade" id="modal-new-country" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form class='form' id='form-country'>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Country{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="">{% trans %}Country{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 33} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <select class='form-control selectpicker' data-live-search="true" name='country' id='select-country-country'>
                                <option value="">{% trans %}Select country{% endtrans %}</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}">{{ country }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">{% trans %}Participants{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 34} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='number' class='form-control' min="1" name='participants' id='input-country-participants'>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="button" id='submit-country-form' class="btn btn-primary" data-dismiss="modal">{% trans %}Save{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function(){

            $total_countries = {{ submission.country|length }};

            // modal country submit action
            $("#submit-country-form").click(function(e){
                e.preventDefault();

                $country = $("#select-country-country option:selected");
                $participants = $("#input-country-participants");

                string =  "<tr>"
                string +=    "<input type='hidden' name='country["+ $total_countries +"][country_id]' value='"+ $country.val() +"'>"
                string +=    "<input type='hidden' name='country["+ $total_countries +"][participants]' value='"+ $participants.val() +"'>"
                string +=    "<td>"+ $country.text() +"</td>"
                string +=    "<td><label class='label label-default'>"+ $participants.val() +"</label></td>"
                string +=    "<td><a href='#' class='btn btn-default btn-xs button-remove-country'><i class='glyphicon glyphicon-trash'></i></a></td>"
                string += "</tr>"

                $("#table-country tbody").append(string);
                $total_countries += 1;
            });

            // button trash action
            $("#table-country").on("click", ".button-remove-country", function(e){
                e.preventDefault();

                parent = $(this).parents('tr');
                parent.remove();
            });

            {% if not submission.isTranslation %}
                $("#form-submission").submit(function(e){

                var today = new Date();
                var recruitment_date = $("#input-recruitment-init-date").val();

                recruitment_date = new Date(recruitment_date);
                if(recruitment_date > today) {
                $("#form-submission").submit();
                } else {
                e.preventDefault();
                $("#input-recruitment-init-date").focus();
                alert("{% trans %}ERROR. The initial recruitment date needs to be subsequent to today's date.{% endtrans %}");
                }
                });
            {% endif %}
        });
    </script>
{% endblock %}
