{% extends "::base.html.twig" %}

{% block title %}{% trans %}Protocol options{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Initial committee review{% endtrans %}</h1>
            </div>
        </div>
        
        {% include 'Proethos2CoreBundle:Protocol:meta.html.twig' %}

        <!-- action -->
        <form method="POST" id='form-action'>
            <input type="hidden" id="input-send-to" name="send-to" value="">
            
            <div class='block action'>
                <a name='action'></a>
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Choose reviewers{% endtrans %}:</h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group" id='niec-manual'>
                            <label for="input-opinion-required">{% trans %}Opinions Required{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 122} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='number' class="form-control" id='input-opinion-required' name="opinion-required" min="0" value="{{ protocol.opinionRequired }}" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <h2 class='sub-header'>{% trans %}Reviewers{% endtrans %}:</h2>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <table class='table table-hover table-condensed'>
                        
                        <thead>
                            <tr>
                                <th width="30%">{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}Institution{% endtrans %}</th>
                                <th>{% trans %}E-mail{% endtrans %}</th>
                                <th>{% trans %}Country{% endtrans %}</th>
                                <th>{% trans %}Recruitment Date{% endtrans %}</th>
                                <th>{% trans %}Status{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for revision in protocol.revision %}
                                <tr>
                                    <td>{{ revision.member.name }}</td> 
                                    <td>{{ revision.member.institution }}</td> 
                                    <td><a href='{{ revision.member.email }}'>{{ revision.member.email }}</a></td> 
                                    <td>{{ revision.member.country }}</td> 
                                    <td>{{ revision.created|date("d/m/Y") }}</td> 
                                    <td>
                                        {% if revision.answered and not revision.isFinalRevision %}<span class='label label-primary'>{% trans %}Answered{% endtrans %}</span>{% endif %}
                                        {% if revision.isFinalRevision %}<span class='label label-success'>{% trans %}Final Revision{% endtrans %}</span>{% endif %}
                                        {% if not revision.answered %}<span class='label label-default'>{% trans %}Assigned{% endtrans %}</span>{% endif %}
                                        
                                    </td> 
                                    <td>
                                        <a href='{{ path("protocol_initial_committee_review_show_review", {protocol_id: protocol.id, protocol_revision_id: revision.id }) }}' data-toggle='modal' data-target='#modal-parecer-reviewer' class='btn btn-default btn-xs {% if not revision.decision %}disabled{% endif %}'><i class='glyphicon glyphicon-eye-open'></i></a>
                                        <a href='#' class='btn btn-default btn-xs disabled'><i class='glyphicon glyphicon-trash'></i></a>
                                    </td> 
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-select-members-of-commitee">{% trans %}Select Members Of Committee{% endtrans %}</a>
                    <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-select-members-ad-hoc">{% trans %}Select Members Ad-Hoc{% endtrans %}</a>
                </div>
            </div>

            {% if total_final_revisions >=  protocol.opinionRequired %}
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Meeting{% endtrans %}:</h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group" id='rejeitar-group'>
                            <label for="select-meeting">{% trans %}Select meeting{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 123} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <select class='form-control selectpicker' id="select-meeting" name="meeting" data-live-search="true">
                                <option></option>
                                {% for meeting in meetings %}
                                    <option value="{{ meeting.id }}" {% if protocol.meeting == meeting %}selected{% endif %}>{{ meeting.date|date("d/m/Y") }} - {{ meeting.subject }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class='row'>
                <div class='submission-button-controls col-md-12'>
                    <button type="submit" class='btn btn-primary' id='button-save-and-wait-revisions'>{% trans %}Save and wait for comments{% endtrans %}</button>
                    <button type="submit" class='btn btn-primary' id='button-save-and-send-to-meeting' {% if protocol.opinionRequired > total_final_revisions %}disabled{% endif %}>{% trans %}Save and send to meeting{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Select Reviewer -->
    <div class="modal fade" id="modal-select-members-of-commitee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <form class='form' method="POST">
                <input type="hidden" name="type-of-members" value="members-of-committee">
                
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Select Members Of Committee{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <table class='table table-hover table-condensed'>
                            <thead>
                                <tr>
                                    <td></td>
                                    <th width="30%">{% trans %}Name{% endtrans %}</th>
                                    <th>{% trans %}Institution{% endtrans %}</th>
                                    <th>{% trans %}E-mail{% endtrans %}</th>
                                    <th>{% trans %}Country{% endtrans %}</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for member in users %}
                                    {% if role_member_of_committee in member.proethos2Roles %}
                                        <tr>
                                            <td><input type='checkbox' name="select-members-of-committee[]" value="{{ member.id }}"></td>
                                            <td>{{ member.name }}</td> 
                                            <td>{{ member.institution }}</td> 
                                            <td><a href='{{ member.email }}'>{{ member.email }}</a></td> 
                                            <td>{{ member.country }}</td> 
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Select Reviewer -->
    <div class="modal fade" id="modal-select-members-ad-hoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <form class='form' method="POST">
                <input type="hidden" name="type-of-members" value="members-ad-hoc">
                
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Select Members Ad-Hoc{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <table class='table table-hover table-condensed'>
                            <thead>
                                <tr>
                                    <td></td>
                                    <th width="30%">{% trans %}Name{% endtrans %}</th>
                                    <th>{% trans %}Institution{% endtrans %}</th>
                                    <th>{% trans %}E-mail{% endtrans %}</th>
                                    <th>{% trans %}Country{% endtrans %}</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for member in users %}
                                    {% if role_member_of_committee in member.proethos2Roles %}
                                        <tr>
                                            <td><input type='checkbox' name="select-members-of-committee[]" value="{{ member.id }}"></td>
                                            <td>{{ member.name }}</td> 
                                            <td>{{ member.institution }}</td> 
                                            <td><a href='{{ member.email }}'>{{ member.email }}</a></td> 
                                            <td>{{ member.country }}</td> 
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Visualizar Parecer do Reviewer -->
    <div class="modal fade" id="modal-parecer-reviewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            
            // $("#select-meeting").change(function(){
            //     $("#button-save-and-wait-revisions").prop('disabled', false);
            //     $("#button-save-and-send-to-meeting").prop('disabled', true);
                
            //     if($("#select-meeting").val() > 0) {
            //         $("#button-save-and-send-to-meeting").prop('disabled', false);
            //         $("#button-save-and-wait-revisions").prop('disabled', true);
            //     } 
            // });
            // $("body").on("click", "#button-exempt-protocol", function(e){
            //     $("#input-send-to").val('exempt');
            //     $("#form-action").submit();
            // });
            
            // $("body").on("click", "#button-ethical-revision", function(e){
            //     $("#input-send-to").val('ethical-revision');
            //     $("#form-action").submit();
            // });
            
        });
    </script>
{% endblock %}
