<div class='block'>
    <div class='row'>
        <div class="col-md-12">
            <h2 class='sub-header toggle-block'>
                <small class='pull-right'>
                    <i class='glyphicon glyphicon-minus'></i>
                </small>
                
                {% trans %}Team{% endtrans %}
            </h2>
        </div>
    </div>

    <div class='row'>
        <div class="col-md-12">
            <table class='table table-hover table-condensed' id='table-team'>
                
                <thead>
                    <tr>
                        <th width="40%">{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}E-mail{% endtrans %}</th>
                        <th>{% trans %}Institution{% endtrans %}</th>
                        <th>{% trans %}Role{% endtrans %}</th>
                        <th>{% trans %}Country{% endtrans %}</th>
                        <th>{% trans %}Main?{% endtrans %}</th>
                        <!-- <th>{% trans %}Actions{% endtrans %}</th> -->
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>{{ protocol.mainSubmission.owner.name }}</td>
                        <td><a href='{{ protocol.mainSubmission.owner.email }}'>{{ protocol.mainSubmission.owner.email }}</a></td>
                        <td>{{ protocol.mainSubmission.owner.institution }}</td>
                        <td>{{ protocol.mainSubmission.owner.submissionTeamRole(protocol.mainSubmission) }}</td>
                        <td>{{ protocol.mainSubmission.owner.country }}</td>
                        <td><label class='label label-success'>{% trans %}Yes{% endtrans %}</label></td>
                        <!-- <td>-</td>  -->
                    </tr>
                    {% for team_user in protocol.mainSubmission.team %}
                        <tr>
                            <td>
                                <input type='hidden' name='team_user[]' value='{{ team_user.id }}'>
                                {{ team_user.name }}
                            </td> 
                            <td><a href='{{ team_user.email }}'>{{ team_user.email }}</a></td>
                            <td>{{ team_user.institution }}</td>
                            <td>{{ team_user.submissionTeamRole(protocol.mainSubmission) }}</td>
                            <td>{{ team_user.country }}</td>
                            <td><label class='label label-default'>{% trans %}No{% endtrans %}</label></td>
                            <!-- <td><a href='#' class='btn btn-default btn-xs button-remove-team'><i class='glyphicon glyphicon-trash'></i></a></td>  -->
                        </tr>
                    {% endfor %}
                    {% for team_user in submission_team %}
                        {% set unique_id = '_' ~ random() %}
                        <tr>
                            <td>
                                <input type='hidden' name='new_team_user[]' value='{{ unique_id }}'>
                                {{ team_user.name }}
                            </td> 
                            <td><a href='{{ team_user.email }}'>{{ team_user.email }}</a></td>
                            <td>{{ team_user.institution }}</td>
                            <td>{{ team_user.role }}</td>
                            <td></td>
                            <td><label class='label label-default'>{% trans %}No{% endtrans %}</label></td>
                            <!-- <td><a href='#' class='btn btn-default btn-xs button-remove-team'><i class='glyphicon glyphicon-trash'></i></a></td>  -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-investigator">
                {% trans %}New Investigator{% endtrans %}
            </a> -->
        </div>
    </div>
</div>

{% if 'secretary' in app.user.getRolesSlug %}
<div class='block'>
    <div class='row'>
        <div class="col-md-12">
            <h2 class='sub-header toggle-block'>
                <small class='pull-right'>
                    <i class='glyphicon glyphicon-minus'></i>
                </small>
                
                {% trans %}Contacts{% endtrans %}:
            </h2>
        </div>
    </div>

    <div class='row'>
        <div class="col-md-12">
            <form method="POST" id='form-contacts' action="{{ path("protocol_show_protocol", {protocol_id: protocol.id}) }}'">
                <input type="hidden" name="token" value="{{ csrf_token('add-contacts') }}"/>
                <div class="form-group form-contacts">
                    <input name="contacts" placeholder="{% trans %}insert emails here{% endtrans %}" value="{{ protocol.contacts }}">
                </div>
                <button type="submit" class="btn btn-default">{% trans %}Save Contacts{% endtrans %}</button>
            </form>
        </div>
    </div>
</div>
{% endif %}

<div class='block'>
    <div class='row'>
        <div class="col-md-12">
            <h2 class='sub-header toggle-block'>
                <small class='pull-right'>
                    <i class='glyphicon glyphicon-minus'></i>
                </small>
                
                {% trans %}File submission{% endtrans %}:
            </h2>
        </div>
    </div>

    <div class='row'>
        <div class="col-md-12">
            <table class='table table-hover table-condensed' id='table-attachment'>
                
                <thead>
                    <tr>
                        <th>{% trans %}Type{% endtrans %}</th>
                        <th>{% trans %}Original Submission{% endtrans %}</th>
                        <th>{% trans %}Submitted by{% endtrans %}</th>
                        <th>{% trans %}File name{% endtrans %}</th>
                        <th>{% trans %}Date & Time{% endtrans %}</th>
                        <th>{% trans %}Priority{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for file in protocol.mainSubmission.attachments if not file.isMonitoringAction %}
                        {% set class = '' %}
                        {% if file.flag == 1 %}
                            {% set class = 'text-danger' %}
                        {% elseif file.flag == 2 %}
                            {% set class = 'text-warning' %}
                        {% elseif file.flag == 3 %}
                            {% set class = 'text-primary' %}
                        {% endif %}

                        {% set text = '' %}
                        {% if file.flag == 1 %}
                            {% set text = 'Required' %}
                        {% elseif file.flag == 2 %}
                            {% set text = 'Supporting document' %}
                        {% elseif file.flag == 3 %}
                            {% set text = 'Reference only' %}
                        {% endif %}

                        <tr>
                            <td>{{ file.uploadType }}</td>
                            <td>{{ file.submissionNumber }}</td>
                            <td>{{ file.user }}</td>
                            <td>{{ file }}</td> 
                            <td>{{ file.created|date("d/m/Y H:i") }}</td>
                            <td class="{{ class }}"><b>{{ text|trans }}</b></td>
                            <td>
                                <a href='{{ path("protocol_upload", {'upload_id': file.id }) }}' class='btn btn-default btn-xs' target="_blank">
                                    <i class='glyphicon glyphicon-eye-open'></i>
                                </a>
                                {% if is_granted("ROLE_USER") and 'secretary' in app.user.rolesSlug %}
                                    <a href='#' class='btn btn-default btn-xs button-add-attachment-flag' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-add-attachment-flag">
                                        <i class='glyphicon glyphicon-tag'></i>
                                    </a>
                                    {% if file.uploadType.slug not in ['protocol', 'opinion'] %}
                                        <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment">
                                            <i class='glyphicon glyphicon-trash'></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% if is_granted("ROLE_USER") and 'secretary' in app.user.rolesSlug %}
                <a href='{{ path("protocol_new_attachment", {'protocol_id': protocol.id }) }}' class='btn btn-default' data-toggle="modal" data-target="#modal-new-file">{% trans %}New Attachment{% endtrans %}</a>
            {% endif %}
            {% if is_granted("ROLE_USER") and ('secretary' in app.user.rolesSlug or 'member-of-committee' in app.user.rolesSlug)  %}
                <a href='{{ path("protocol_generate_report", {'protocol_id': protocol.id}) }}' class='btn btn-default' target='_blank'>{% trans %}Create Report{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
</div>

<div class='block'>
    <div class='row'>
        <div class="col-md-12">
            <h2 class='sub-header toggle-block'>
                <small class='pull-right'>
                    <i class='glyphicon glyphicon-minus'></i>
                </small>
                
                {% trans %}History{% endtrans %}:
            </h2>
        </div>
    </div>

    <div class='row'>
        <div class="col-md-12">
            <table class='table table-hover table-condensed'>
                
                <thead>
                    <tr>
                        <th>{% trans %}Date & Time{% endtrans %}</th>
                        <th>{% trans %}Message{% endtrans %}</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for history in protocol.history %}
                        <tr>
                           <td width="20%">{{ history.created|date("d/m/Y H:i:s") }}</td>
                           <td>{{ history.message }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class='block'>
    <div class='row'>
        <div class="col-md-12">
            <h2 class='sub-header toggle-block'>
                <small class='pull-right'>
                    <i class='glyphicon glyphicon-minus'></i>
                </small>
                
                {% if 'member-of-committee' in app.user.getRolesSlug %}
                    {% trans %}Correspondence{% endtrans %} ({% trans %}for use by investigators only{% endtrans %})
                {% else %}
                    {% trans %}Correspondence{% endtrans %}
                {% endif %}
            </h2>
        </div>
    </div>

    <div class='row'>
        <div class="col-md-12">
            <table class='table table-hover table-condensed'>
                <thead>
                    <tr>
                        <th width="15%">{% trans %}Date & Time{% endtrans %}</th>
                        <th width="15%">{% trans %}Author{% endtrans %}</th>
                        <th width="15%">{% trans %}Confidential{% endtrans %}</th>
                        <th>{% trans %}Message{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                 
                <tbody>
                    {% for comment in protocol.comment %}
                        {% if 'member-of-committee' != comment.role %}
                            {% if not comment.isConfidential or 'investigator' not in app.user.getRolesSlug or not protocol.mainSubmission.isOwner(app.user) %}
                                <tr>
                                    <th>{{ comment.created|date('d/m/Y H:i:s') }}</th>
                                    <td>{{ comment.owner }}</td> 
                                    <td>{% if comment.isConfidential %}<i class='glyphicon glyphicon-ok'></i>{% endif %}</td>
                                    <td>{{ comment.message|nl2br }}</td>
                                    <td>
                                        {% if comment.filename %}
                                            {% set filehash = comment.filename|split('_')[0] %}
                                            <a href='{{ path("protocol_comment_upload", {'comment_id': comment.id }) }}' class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{{ comment.realFilename }}" target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            {% if 'administrator' in app.user.getRolesSlug or 'secretary' in app.user.getRolesSlug or 'investigator' in app.user.getRolesSlug %}
                <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-comment">{% trans %}New Comment{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
</div>

{% if 'member-of-committee' in app.user.getRolesSlug or 'secretary' in app.user.getRolesSlug or 'administrator' in app.user.getRolesSlug %}
    <div class='block'>
        <div class='row'>
            <div class="col-md-12">
                <h2 class='sub-header toggle-block'>
                    <small class='pull-right'>
                        <i class='glyphicon glyphicon-minus'></i>
                    </small>
                    
                    {% if 'member-of-committee' in app.user.getRolesSlug %}
                        {% trans %}Committee Communication Section{% endtrans %} ({% trans %}for use by committee members only{% endtrans %} - {% trans %}not visible to investigators{% endtrans %})
                    {% else %}
                        {% trans %}Committee Communication Section{% endtrans %}
                    {% endif %}
                </h2>
            </div>
        </div>

        <div class='row'>
            <div class="col-md-12">
                <table class='table table-hover table-condensed'>
                    <thead>
                        <tr>
                            <th width="15%">{% trans %}Date & Time{% endtrans %}</th>
                            <th width="15%">{% trans %}Author{% endtrans %}</th>
                            <th>{% trans %}Message{% endtrans %}</th>
                            <th>{% trans %}Actions{% endtrans %}</th>
                        </tr>
                    </thead>
                     
                    <tbody>
                        {% for comment in protocol.comment %}
                            {% if 'member-of-committee' == comment.role %}
                                <tr>
                                    <th>{{ comment.created|date('d/m/Y H:i:s') }}</th>
                                    <td>{{ comment.owner }}</td> 
                                    <td>{{ comment.message|nl2br }}</td>
                                    <td>
                                        {% if comment.filename %}
                                            <a href='{{ path("protocol_comment_upload", {'comment_id': comment.id }) }}' class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{{ comment.realFilename }}" target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                                        {% endif %}
                                    </td> 
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

                {% if 'member-of-committee' in app.user.getRolesSlug %}
                    <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-committee-comment">{% trans %}New Comment{% endtrans %}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

<!-- Modal New Comment -->
<div class="modal fade" id="modal-new-comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form enctype="multipart/form-data" method="POST" action='{{ path('protocol_new_comment', {protocol_id: protocol.id}) }}'>

            <input type="hidden" name="token" value="{{ csrf_token('add-comment') }}"/>
            <input type="hidden" name="new-comment-role" value=""/>
            <input type="hidden" name="MAX_FILE_SIZE" value="{{ 50*1024*1024 }}" />

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}New Comment{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="textarea-new-comment-message">{% trans %}Message{% endtrans %}:</label> 
                        <a href="{{ path("crud_admin_help_show", {help_id: 126} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                        <textarea class='form-control' rows='4' name='new-comment-message' id='textarea-new-comment-message' required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="input-file-1">{% trans %}File{% endtrans %}:</label> 
                        <input type='file' class='form-control' id="input-file-1" name="file">
                    </div>

                    {# code that discover if should show the confidential option #}
                    {% set is_show_confiential_field = false %}
                    {% for role in app.user.getRolesSlug %}
                        {% if role in ['secretary'] %}
                            {% set is_show_confiential_field = true %}
                        {% endif %}
                    {% endfor %}

                    {% if is_show_confiential_field and not protocol.mainSubmission.isOwner(app.user) %}
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="checkbox-new-comment-is-confidential">
                                    <input type="checkbox" name='new-comment-is-confidential' id='checkbox-new-comment-is-confidential' value="yes">{% trans %}Is this a confidential comment?{% endtrans %}
                                    <a href="{{ path("crud_admin_help_show", {help_id: 184} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                </label>
                            </div>
                        </div>
                    {% endif %}
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal New Comment - Committee Communication Section -->
<div class="modal fade" id="modal-new-committee-comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form enctype="multipart/form-data" method="POST" action='{{ path('protocol_new_comment', {protocol_id: protocol.id}) }}'>

            <input type="hidden" name="token" value="{{ csrf_token('add-comment') }}"/>
            <input type="hidden" name="new-comment-role" value="member-of-committee"/>
            <input type="hidden" name="MAX_FILE_SIZE" value="{{ 50*1024*1024 }}" />

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}New Comment{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="textarea-new-comment-message">{% trans %}Message{% endtrans %}:</label> 
                        <a href="{{ path("crud_admin_help_show", {help_id: 126} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                        <textarea class='form-control' rows='4' name='new-comment-message' id='textarea-new-comment-message' required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="input-file-2">{% trans %}File{% endtrans %}:</label> 
                        <input type='file' class='form-control' id="input-file-2" name="file">
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Novo Arquivo -->
<div class="modal fade" id="modal-new-file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
    
<!-- Modal Confirmar Exclusão -->
<div class="modal fade" id="modal-delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form method="POST" id='form-delete-attachment' action="{{ path("protocol_new_attachment", {'protocol_id': protocol.id }) }}">

            <input type="hidden" name="token" value="{{ csrf_token('delete-attachment') }}"/>
            <input type="hidden" name="delete-attachment-id" id='hidden-delete-attachment' value="" />

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Attachment{% endtrans %}</h4>
                </div>

                <div class="modal-body">
                    <p>{% trans %}Do you confirm the exclusion of this attachment?{% endtrans %}</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Add Attachment Flag -->
<div class="modal fade" id="modal-add-attachment-flag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form method="POST" id='form-add-attachment-flag' action="{{ path("protocol_new_attachment", {'protocol_id': protocol.id }) }}">

            <input type="hidden" name="token" value="{{ csrf_token('add-attachment-flag') }}"/>
            <input type="hidden" name="add-attachment-flag-id" id='hidden-attachment-flag' value="" />

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Add Flag{% endtrans %}</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="select-add-attachment-flag">{% trans %}Flag{% endtrans %}:</label>
                        <select class='form-control' name='add-attachment-flag' id='select-add-attachment-flag'>
                            <option value="">-</option>
                            <option value="1">{% trans %}Required{% endtrans %}</option>
                            <option value="2">{% trans %}Supporting document{% endtrans %}</option>
                            <option value="3">{% trans %}Reference only{% endtrans %}</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% block script %}
    <script>
        // toggles de meta blocks
        $(function() {
            // $('[name=contacts]').tagify();
            var element = document.querySelector('[name=contacts]');
            new Tagify(element, {
                // email address validation
                pattern: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            });

            $("body").on("click", ".toggle-block", function(e){

                // find and toggle all rows of block
                block = $(this).parents('.block');
                first_row = $(this).parents('.row');
                block.find('.row').toggle();

                // turns visible the title row and toggle the icon
                first_row.show();
                i = first_row.find('i')
                if(i.hasClass('glyphicon-minus')) {
                    first_row.find('i').removeClass('glyphicon-minus');
                    first_row.find('i').addClass('glyphicon-plus');
                } else {
                    first_row.find('i').removeClass('glyphicon-plus');
                    first_row.find('i').addClass('glyphicon-minus');
                }
            });

            // hide all blocks on the load page
            $(".toggle-block").each(function(){
                $(this).trigger('click');     
            });

            $("#table-attachment").on("click", ".button-delete-attachment", function(e){
                var id = $(this).data('id');
                $("#hidden-delete-attachment").val(id);
            });

            $('#modal-delete-attachment').on('hidden.bs.modal', function () {
                $("#hidden-delete-attachment").val("");
            });

            $("#select-add-attachment-flag").selectpicker();

            $("#table-attachment").on("click", ".button-add-attachment-flag", function(e){
                var id = $(this).data('id');
                $("#hidden-attachment-flag").val(id);
            });

            $('#modal-add-attachment-flag').on('hidden.bs.modal', function () {
                $("#hidden-attachment-flag").val("");
            });
        });
    </script>
{% endblock %}
