<div class='block'>
    <div class='row'>
        <div class="col-md-12">
            <h2 class='sub-header toggle-block'>
                <small class='pull-right'>
                    <i class='glyphicon glyphicon-minus'></i>
                </small>
                
                {% trans %}Team{% endtrans %}
            </h2>
        </div>
    </div>

    <div class='row'>
        <div class="col-md-12">
            <table class='table table-hover table-condensed' id='table-team'>
                
                <thead>
                    <tr>
                        <th width="50%">{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}E-mail{% endtrans %}</th>
                        <th>{% trans %}Country{% endtrans %}</th>
                        <th>{% trans %}Main?{% endtrans %}</th>
                        <!-- <th>{% trans %}Actions{% endtrans %}</th> -->
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>{{ protocol.mainSubmission.owner.name }}</td> 
                        <td><a href='{{ protocol.mainSubmission.owner.email }}'>{{ protocol.mainSubmission.owner.email }}</a></td> 
                        <td>{{ protocol.mainSubmission.owner.country }}</td> 
                        <td><label class='label label-success'>{% trans %}Yes{% endtrans %}</label></td> 
                        <!-- <td>-</td>  -->
                    </tr>
                    {% for team_user in protocol.mainSubmission.team %}
                        <tr>
                            <td>
                                <input type='hidden' name='team_user[]' value='{{ team_user.id }}'>
                                {{ team_user.name }}
                            </td> 
                            <td><a href='{{ team_user.email }}'>{{ team_user.email }}</a></td> 
                            <td>{{ team_user.country }}</td> 
                            <td><label class='label label-default'>{% trans %}No{% endtrans %}</label></td> 
                            <!-- <td><a href='#' class='btn btn-default btn-xs button-remove-team'><i class='glyphicon glyphicon-trash'></i></a></td>  -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-investigator">
                {% trans %}New Investigator{% endtrans %}
            </a> -->
        </div>
    </div>
</div>

<div class='block'>
    <div class='row'>
        <div class="col-md-12">
            <h2 class='sub-header toggle-block'>
                <small class='pull-right'>
                    <i class='glyphicon glyphicon-minus'></i>
                </small>
                
                {% trans %}File submission{% endtrans %}:
            </h2>
        </div>
    </div>

    <div class='row'>
        <div class="col-md-12">
            <table class='table table-hover table-condensed' id='table-attachment'>
                
                <thead>
                    <tr>
                        <th>{% trans %}Type{% endtrans %}</th>
                        <th>{% trans %}Original Submission{% endtrans %}</th>
                        <th>{% trans %}Submitted by{% endtrans %}</th>
                        <th>{% trans %}File name{% endtrans %}</th>
                        <th>{% trans %}Date & Time{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for file in protocol.mainSubmission.attachments if not file.isMonitoringAction %}
                        <tr>
                            <td>{{ file.uploadType }}</td>
                            <td>{{ file.submissionNumber }}</td> 
                            <td>{{ file.user }}</td> 
                            <td>{{ file.filename }}</td> 
                            <td>{{ file.created|date("d/m/Y H:i") }}</td> 
                            <td>
                                <a href='{{ asset(file.uri) }}' target="_blank" class='btn btn-default btn-xs' target="_blank">
                                <i class='glyphicon glyphicon-eye-open'></i></a>
                            </td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-file">{% trans %}New Attachment{% endtrans %}</a> -->
        </div>
    </div>
</div>

<div class='block'>
    <div class='row'>
        <div class="col-md-12">
            <h2 class='sub-header toggle-block'>
                <small class='pull-right'>
                    <i class='glyphicon glyphicon-minus'></i>
                </small>
                
                {% trans %}History{% endtrans %}:
            </h2>
        </div>
    </div>

    <div class='row'>
        <div class="col-md-12">
            <table class='table table-hover table-condensed'>
                
                <thead>
                    <tr>
                        <th>{% trans %}Date & Time{% endtrans %}</th>
                        <th>{% trans %}Message{% endtrans %}</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for history in protocol.history %}
                        <tr>
                           <td width="20%">{{ history.created|date("d/m/Y H:i:s") }}</td>
                           <td>{{ history.message }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class='block'>
    <div class='row'>
        <div class="col-md-12">
            <h2 class='sub-header toggle-block'>
                <small class='pull-right'>
                    <i class='glyphicon glyphicon-minus'></i>
                </small>
                
                {% trans %}Comments{% endtrans %}
            </h2>
        </div>
    </div>

    <div class='row'>
        <div class="col-md-12">
            <table class='table table-hover table-condensed'>
                
                <thead>
                    <tr>
                        <th width="15%">{% trans %}Date & Time{% endtrans %}</th>
                        <th width="15%">{% trans %}Author{% endtrans %}</th>
                        <th>{% trans %}Message{% endtrans %}</th>
                    </tr>
                </thead>
                 
                <tbody>
                    {% for comment in protocol.comment %}
                        {% if not comment.isConfidential or 'investigator' not in app.user.getRolesSlug or not protocol.mainSubmission.isOwner(app.user) %}
                            <tr>
                               <th>{{ comment.created|date('d/m/Y H:i:s') }}</th>
                               <td>{{ comment.owner }}</td> 
                               <td>{{ comment.message }}</td> 
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-comment">{% trans %}New Comment{% endtrans %}</a>
        </div>
    </div>
</div>

<!-- Modal Novo Comentário -->
<div class="modal fade" id="modal-new-comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form method='POST' action='{{ path('protocol_new_comment', {protocol_id: protocol.id}) }}'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}New Comment{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <form class='form'>
                        <div class="form-group">
                            <label for="textarea-new-comment-message">{% trans %}Message{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 126} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <textarea class='form-control' rows='4' name='new-comment-message' id='textarea-new-comment-message' required></textarea>
                        </div>

                        {# code that discover if should show the confidential option #}
                        {% set is_show_confiential_field = false %}
                        {% for role in app.user.getRolesSlug %}
                            {% if role in ['secretary', 'member-of-committee', 'member-ad-hoc'] %}
                                {% set is_show_confiential_field = true %}
                            {% endif %}
                        {% endfor %}

                        {% if is_show_confiential_field and not protocol.mainSubmission.isOwner(app.user) %}
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="checkbox-new-comment-is-confidential">
                                        <input type="checkbox" name='new-comment-is-confidential' id='checkbox-new-comment-is-confidential' value="yes">{% trans %}Is this a confidential comment?{% endtrans %}
                                        <a href="{{ path("crud_admin_help_show", {help_id: 184} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                        
                    </form>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    // toggles de meta blocks
    $(function() {
        $("body").on("click", ".toggle-block", function(e){

            // find and toggle all rows of block
            block = $(this).parents('.block');
            first_row = $(this).parents('.row');
            block.find('.row').toggle();

            // turns visible the title row and toggle the icon
            first_row.show();
            i = first_row.find('i')
            if(i.hasClass('glyphicon-minus')) {
                first_row.find('i').removeClass('glyphicon-minus');
                first_row.find('i').addClass('glyphicon-plus');
            } else {
                first_row.find('i').removeClass('glyphicon-plus');
                first_row.find('i').addClass('glyphicon-minus');
            }
        });

        // hide all blocks on the load page
        $(".toggle-block").each(function(){
            $(this).trigger('click');     
        });
    });
</script>