{% extends "::base.html.twig" %}

{% block title %}{% trans %}See Protocol{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content see-submission">
        
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{{ protocol.mainSubmission.publicTitle }}</h1>
            </div>
        </div>

        <div class='block meta'>
            
            <div class='row'>
                <div class='col-md-2'>
                    <div class='label'>{% trans %}Idetification{% endtrans %}</div>
                    <h3>-</h3>
                </div>
                
                <div class='col-md-2'>
                    <div class='label'>{% trans %}Protocol{% endtrans %}</div>
                    <h3>{{ protocol.id }}</h3>
                </div>
                
                <div class='col-md-4'>
                    <div class='label'>{% trans %}Protocol Type{% endtrans %}</div>
                    <h3>-</h3>
                </div>

                <div class='col-md-4'>
                    <div class='label'>{% trans %}Status{% endtrans %}</div>
                    <h3>{{ protocol.status }}</h3>
                </div>
                
            </div>

            <div class='row'>
                <div class='col-md-5'>
                    <div class='label'>{% trans %}Institution{% endtrans %}</div>
                    <h3>{{ protocol.mainSubmission.owner.institution }}</h3>
                </div>

                <div class='col-md-4'>
                    <div class='label'>{% trans %}Country{% endtrans %}</div>
                    <h3>{{ protocol.mainSubmission.owner.country }}</h3>
                </div>

                <div class='col-md-3'>
                    <div class='label'>{% trans %}Result{% endtrans %}</div>
                    <h3>-</h3>
                </div>
            </div>
                
            <div class='row'>
                <div class='col-md-3'>
                    <div class='label'>{% trans %}Accepted in{% endtrans %}</div>
                    <h3>-</h3>
                </div>
                
                <div class='col-md-3'>
                    <div class='label'>{% trans %}Updated in{% endtrans %}</div>
                    <h3>-</h3>
                </div>
                
                <div class='col-md-3'>
                    <div class='label'>{% trans %}Revised in{% endtrans %}</div>
                    <h3>-</h3>
                </div>

                <div class='col-md-3'>
                    <div class='label'>{% trans %}Decision in{% endtrans %}</div>
                    <h3>-</h3>
                </div>

            </div>    

            <div class='row'>
                <div class='col-md-3'>
                    <div class='label'>{% trans %}Informed In{% endtrans %}</div>
                    <h3>{{ protocol.dateInformed|date("d/m/Y") }}</h3>
                </div>

                <div class='col-md-3'>
                    <div class='label'>{% trans %}Recruiting{% endtrans %}</div>
                    <h3>{{ protocol.mainSubmission.recruitmentInitDate|date("d/m/Y") }}</h3>
                </div>

                <div class='col-md-3'>
                    <div class='label'>{% trans %}Finish in{% endtrans %}</div>
                    <h3>-</h3>
                </div>

                <div class='col-md-3'>
                    <div class='label'>{% trans %}Monitoring{% endtrans %}</div>
                    <h3>-</h3>
                </div>
            </div>
        </div>

        <div class='block'>
            <div class='row'>
                <div class="col-md-12">
                    <h2 class='sub-header'>{% trans %}Team{% endtrans %}</h2>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <table class='table table-hover table-condensed' id='table-team'>
                        
                        <thead>
                            <tr>
                                <th width="50%">{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}E-mail{% endtrans %}</th>
                                <th>{% trans %}Country{% endtrans %}</th>
                                <th>{% trans %}Main?{% endtrans %}</th>
                                <!-- <th>{% trans %}Actions{% endtrans %}</th> -->
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <td>{{ protocol.mainSubmission.owner.name }}</td> 
                                <td><a href='{{ protocol.mainSubmission.owner.email }}'>{{ protocol.mainSubmission.owner.email }}</a></td> 
                                <td>{{ protocol.mainSubmission.owner.country }}</td> 
                                <td><label class='label label-success'>{% trans %}Yes{% endtrans %}</label></td> 
                                <!-- <td>-</td>  -->
                            </tr>
                            {% for team_user in protocol.mainSubmission.team %}
                                <tr>
                                    <td>
                                        <input type='hidden' name='team_user[]' value='{{ team_user.id }}'>
                                        {{ team_user.name }}
                                    </td> 
                                    <td><a href='{{ team_user.email }}'>{{ team_user.email }}</a></td> 
                                    <td>{{ team_user.country }}</td> 
                                    <td><label class='label label-default'>{% trans %}No{% endtrans %}</label></td> 
                                    <!-- <td><a href='#' class='btn btn-default btn-xs button-remove-team'><i class='glyphicon glyphicon-trash'></i></a></td>  -->
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-investigator">
                        {% trans %}New Investigator{% endtrans %}
                    </a> -->
                </div>
            </div>
        </div>

        <div class='block'>
            <div class='row'>
                <div class="col-md-12">
                    <h2 class='sub-header'>{% trans %}File submission{% endtrans %}:</h2>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <table class='table table-hover table-condensed' id='table-attachment'>
                        
                        <thead>
                            <tr>
                                <th>{% trans %}Type{% endtrans %}</th>
                                <th>{% trans %}Filename{% endtrans %}</th>
                                <th>{% trans %}Datetime{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for file in protocol.mainSubmission.attachments %}
                                <tr>
                                    <td>{{ file.uploadType }}</td>
                                    <td>{{ file.filename }}</td> 
                                    <td>{{ file.created|date("d/m/Y H:i") }}</td> 
                                    <td>
                                        <a href='#' class='btn btn-default btn-xs' target="_blank">
                                        <i class='glyphicon glyphicon-eye-open'></i></a>
                                    </td> 
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-file">{% trans %}New Attachment{% endtrans %}</a> -->
                </div>
            </div>
        </div>

        <div class='block'>
            <div class='row'>
                <div class="col-md-12">
                    <h2 class='sub-header'>{% trans %}History{% endtrans %}:</h2>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <table class='table table-hover table-condensed'>
                        
                        <thead>
                            <tr>
                                <th>{% trans %}Datetime{% endtrans %}</th>
                                <th>{% trans %}Message{% endtrans %}</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for history in protocol.history %}
                                <tr>
                                   <td width="20%">{{ history.created|date("d/m/Y H:i:s") }}</td>
                                   <td>{{ history.message }}</td> 
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class='block'>
            <div class='row'>
                <div class="col-md-12">
                    <h2 class='sub-header'>{% trans %}Comments{% endtrans %}</h2>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <table class='table table-hover table-condensed'>
                        
                        <thead>
                            <tr>
                                <th width="15%">{% trans %}Datetime{% endtrans %}</th>
                                <th width="15%">{% trans %}Author{% endtrans %}</th>
                                <th>{% trans %}Message{% endtrans %}</th>
                            </tr>
                        </thead>
                         
                        <tbody>
                            {% for comment in protocol.comment %}
                                <tr>
                                   <th>{{ comment.created|date('d/m/Y H:i:s') }}</th>
                                   <td>{{ comment.owner }}</td> 
                                   <td>{{ comment.message }}</td> 
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-comment">{% trans %}New Comment{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Novo Investigador -->
    <!-- <div class="modal fade" id="modal-new-investigator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class='form' id='form-team'  method="POST">
                    <input type='hidden' name='team-id' value="">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Investigator{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">{% trans %}E-mail{% endtrans %}:</label> 
                            <a href='#' data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='email' class='form-control' name='team-email'>
                        </div>
                        
                        <div class="form-group">
                            <label for="">{% trans %}Name{% endtrans %}:</label> 
                            <a href='#' data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='text' class='form-control' name='team-name' readonly="">
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" id='team-submit' class="btn btn-primary disabled">{% trans %}Save{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

    <!-- Modal Novo Comentário -->
    <div class="modal fade" id="modal-new-comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method='POST'>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Comment{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <form class='form'>
                            <div class="form-group">
                                <label for="textarea-new-comment-message">{% trans %}Message{% endtrans %}:</label> 
                                <a href='#' data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea class='form-control' rows='4' name='new-comment-message' id='textarea-new-comment-message' required></textarea>
                            </div>
                        </form>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){

            // $team = {};

            // $("#form-team input[name='team-email']").keyup(function() {

            //     email = $(this).val();
            //     $.post("{{ path('api_get_user_by_email') }}", {email: email}, function(data){
            //         if(!$.isEmptyObject(data)) {

            //             user = data[0];
            //             $team[user['id']] = {name: user['name'], email: user['email'], country: user['country']};
                        
            //             $("#form-team input[name='team-name']").val(user['name']);
            //             $("#form-team input[name='team-id']").val(user['id']);
            //             $("#team-submit").removeClass('disabled');

            //         } else {

            //             $("#form-team input[name='team-name']").val("");
            //             $("#team-submit").addClass('disabled');
            //             $team = {};
            //         }
            //     });
            // });

            // $("#team-submit").click(function(e){
            //     e.preventDefault();

                
            // });

            // $("#table-team").on("click", ".button-remove-team", function(e){
            //     e.preventDefault();

            //     parent = $(this).parents('tr');
            //     console.log(parent);
            //     parent.remove();
            // });
        });
    </script>
{% endblock %}
