{% extends "::base.html.twig" %}

{% block title %}Login - Proethos2{% endblock %}

{% block body %}
    
    <style>
       
        /*
         * Card component
         */
        .card {
            background-color: #F7F7F7;
            /* just in case there no content*/
            padding: 20px 25px 30px;
            margin: 100px 20px 20px 20px;

            /* shadows and rounded borders */
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }
        .card:last-child {
            margin: 100px -40px 0 0;
            width: 28%;
        }
        h1 {
            text-align: center;
            margin-bottom: 40px;
            text-transform: uppercase;
        }
        .links ul {
            padding: 0;
            margin: 30px 0 0 0;
            text-align: center;
        }
        .links li {
            list-style: none;
            margin: 5px 0;
        }
        h1, h2 {
            text-align: left;
            margin: 10px 0 20px 0;
            padding: 0;
        }
    </style>

    {% include 'menu.html.twig' %}

    <div class="container-fluid">
        <div class='row'>
            <div class="col-xs-8 card">
                
                <h1>
                    {% if committee_logourl %}
                        <img src="{{ committee_logourl }}" class='logo'>
                    {% else %}
                        <b>Proethos</b>2
                    {% endif %}
                </h1>
                
                <h2>{{ committee_name }}</h2>
                <p>{{ committee_description|raw }}</p>
            </div>

            <div class="col-xs-4 card">
                
                {% if error %}
                    <div class='alert alert-danger'>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                
                <form class="form-signin" action="{{ path('login_check') }}" method="post">
                    <input type="hidden" name="_target_path" value="default_security_target" />

                    <div class="form-group">
                        <input type="text" name='_username' id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name='_password' id="inputPassword" class="form-control" placeholder="Password" required>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                    </div>
                </form><!-- /form -->

                <div class='links'>
                    <ul>
                        <li>
                            <a href='{{ path("security_forgot_my_password") }}' title="{% trans %}Forgot My Password{% endtrans %}">
                                {% trans %}Forgot My Password{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href='{{ path("security_new_user") }}' title="{% trans %}Create an account{% endtrans %}">
                                {% trans %}Create an account{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>

            </div><!-- /card-container -->
        </div>

    </div><!-- /container -->
{% endblock %}
