<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                
                <li>
                    <p class="navbar-btn">
                        <a href="{{ path('submission_new_first_step') }}" class="btn btn-primary">{% trans %}New submission{% endtrans %}</a>
                    </p>
                </li>
                <li class="active"><a href="{{ path("home") }}">{% trans %}Home{% endtrans %}</a></li>
                <li class=""><a href="{{ path("crud_investigator_protocol_list") }}">{% trans %}Protocols{% endtrans %}</a></li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {% trans %}Committee{% endtrans %} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('crud_committee_protocol_list') }}">{% trans %}Protocols{% endtrans %}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('crud_committee_faq_list') }}">{% trans %}FAQ{% endtrans %}</a></li>
                        <li><a href="{{ path('crud_committee_user_list') }}">{% trans %}Users{% endtrans %}</a></li>
                        <li><a href="{{ path('crud_committee_meeting_list') }}">{% trans %}Meetings{% endtrans %}</a></li>
                        <li><a href="{{ path('crud_committee_document_list') }}">{% trans %}Documents{% endtrans %}</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Indicadores</a></li>
                        <li><a href="#">Monitoramento de Protocolos</a></li>
                        <li><a href="#">Listagem de Investigadores</a></li>
                        <li><a href="#">Membros do Comitê</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Reuniões</a></li>
                    </ul>
                </li>

                <li class=""><a href="{{ path('crud_faq_list') }}">{% trans %}FAQ{% endtrans %}</a></li>
                <li class=""><a href="{{ path('crud_document_list') }}">{% trans %}Documents{% endtrans %}</a></li>
                <li class=""><a href="{{ path('crud_contact_list') }}">{% trans %}Contact{% endtrans %}</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class='glyphicon glyphicon-flag'></i> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class='active'><a href="#">{% trans %}Portuguese{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}English{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Spanish{% endtrans %}</a></li>
                    </ul>    
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class='glyphicon glyphicon-user'></i> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('crud_user_profile_update') }}" data-toggle='modal' data-target='#modalBaseAjax'>{% trans %}Your Profile{% endtrans %}</a></li>
                        <li><a href="{{ path('security_change_password') }}" id='menuChangePassword' data-toggle='modal' data-target='#modalBaseAjax'>{% trans %}Change Password{% endtrans %}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('logout_route') }}">Logout</a></li>
                    </ul>    
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Modal Seu Perfil -->
<div class="modal fade" id="modal-edit-personal-information" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Suas Informações Pessoais</h4>
            </div>
            <div class="modal-body">
                <form class='form'>
                    <div class='row'>
                        <div class='col-md-12'>
                            <div class="form-group">
                                <label for="">Nome Completo:</label> 
                                <a href='#' data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type='text' class='form-control'>
                            </div>
                        </div>
                    </div>
                            
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class="form-group">
                                <label for="">E-mail:</label> 
                                <a href='#' data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type='text' class='form-control'>
                            </div>
                        </div>

                        <div class='col-md-6'>
                            <div class="form-group">
                                <label for="">E-mail alternativo:</label> 
                                <a href='#' data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type='text' class='form-control'>
                            </div>
                        </div>
                    </div>
                    
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class="form-group">
                                <label for="">Senha:</label> 
                                <a href='#' data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type='text' class='form-control'>
                            </div>
                        </div>

                        <div class='col-md-6'>
                            <div class="form-group">
                                <label for="">Senha:</label> 
                                <a href='#' data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type='text' class='form-control'>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-md-12'>
                            <div class="form-group">
                                <label for="">Endereço:</label> 
                                <a href='#' data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="4" class='form-control'></textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-md-12'>
                            <div class="form-group">
                                <label for="">Instituição:</label> 
                                <a href='#' data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type='text' class='form-control'>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>