<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                {% if render(controller('Proethos2CoreBundle:Index:getLogo')) %}
                <li><a><img src='{{ render(controller('Proethos2CoreBundle:Index:getLogo')) }}' class='logo'></a></li>
                {% endif %}

                {% if is_granted("ROLE_USER") and 'investigator' in app.user.rolesSlug %}
                    <li>
                        <p class="navbar-btn">
                            <a href="{{ path('submission_new_first_step') }}" class="btn btn-primary">{% trans %}New submission{% endtrans %}</a>
                        </p>
                    </li>
                {% endif %}

                <li class="active"><a href="{{ path("home") }}">{% trans %}Dashboard{% endtrans %}</a></li>

                {% if is_granted("ROLE_USER") and 'investigator' in app.user.rolesSlug %}
                    <li class=""><a href="{{ path("crud_investigator_protocol_list") }}">{% trans %}Protocols{% endtrans %}</a></li>
                {% endif %}

                {% if is_granted("ROLE_USER") and ('secretary' in app.user.rolesSlug or 'member-of-committee' in app.user.rolesSlug or 'member-ad-hoc' in app.user.rolesSlug)  %}
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {% trans %}Committee{% endtrans %} <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{{ path('crud_committee_protocol_list') }}">{% trans %}Protocols{% endtrans %}</a></li>
                            {% if 'secretary' in app.user.rolesSlug %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('crud_committee_faq_list') }}">{% trans %}FAQ{% endtrans %}</a></li>
                                <li><a href="{{ path('crud_committee_user_list') }}">{% trans %}Users{% endtrans %}</a></li>
                                <li><a href="{{ path('crud_committee_meeting_list') }}">{% trans %}Meetings{% endtrans %}</a></li>
                                <li><a href="{{ path('crud_committee_document_list') }}">{% trans %}Documents{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                <li class=""><a href="{{ path('crud_faq_list') }}">{% trans %}FAQ{% endtrans %}</a></li>

                {% if is_granted("ROLE_USER") %}
                    <li class=""><a href="{{ path('crud_document_list') }}">{% trans %}Documents{% endtrans %}</a></li>
                {% endif %}

                <li class=""><a href="{{ path('crud_contact_list') }}">{% trans %}Contact{% endtrans %}</a></li>

                {% if is_granted("ROLE_USER") and 'administrator' in app.user.rolesSlug %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {% trans %}System Management{% endtrans %}
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('crud_admin_help_list') }}">{% trans %}Help Messages{% endtrans %}</a></li>
                            <li><a href="{{ path('crud_admin_mail_list') }}">{% trans %}Mail Messages{% endtrans %}</a></li>

                            {% if app.environment == "dev" %}
                                <li><a href="/_trans">{% trans %}Label translations{% endtrans %}</a></li>
                            {% endif %}

                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">{% trans %}Controlled Lists{% endtrans %}</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="{{ path('crud_admin_controlled_list_upload_type_list') }}">{% trans %}Upload Types{% endtrans %}</a></li>
                                    <li><a tabindex="-1" href="{{ path('crud_admin_controlled_list_upload_type_extension_list') }}">{% trans %}Upload Extension Types{% endtrans %}</a></li>
                                    <li><a tabindex="-1" href="{{ path('crud_admin_controlled_list_recruitment_status_list') }}">{% trans %}Recruitment Status{% endtrans %}</a></li>
                                    <li><a tabindex="-1" href="{{ path('crud_admin_controlled_list_monitoring_action_list') }}">{% trans %}Monitoring Actions{% endtrans %}</a></li>
                                    <li><a tabindex="-1" href="{{ path('crud_admin_controlled_list_clinical_trial_name_list') }}">{% trans %}Clinical Trial Names{% endtrans %}</a></li>
                                    <li><a tabindex="-1" href="{{ path('crud_admin_controlled_list_gender_list') }}">{% trans %}Genders{% endtrans %}</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('crud_admin_configuration_list') }}">{% trans %}Configurations{% endtrans %}</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class='glyphicon glyphicon-flag'></i>
                        {% if app.request.locale == 'pt_BR' %}Português{% endif %}
                        {% if app.request.locale == 'es_ES' %}Español{% endif %}
                        {% if app.request.locale == 'en' %}English{% endif %}
                        {% if app.request.locale == 'fr_FR' %}Français{% endif %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class='{% if app.request.locale == 'pt_BR' %}active{% endif %}'><a href="{{ path('change_locale', {locale: 'pt_BR'}) }}">{% trans %}Portuguese{% endtrans %}</a></li>
                        <li class='{% if app.request.locale == 'en' %}active{% endif %}'><a href="{{ path('change_locale', {locale: 'en'}) }}">{% trans %}English{% endtrans %}</a></li>
                        <li class='{% if app.request.locale == 'es_ES' %}active{% endif %}'><a href="{{ path('change_locale', {locale: 'es_ES'}) }}">{% trans %}Spanish{% endtrans %}</a></li>
                        <li class='{% if app.request.locale == 'fr_FR' %}active{% endif %}'><a href="{{ path('change_locale', {locale: 'fr_FR'}) }}">{% trans %}French{% endtrans %}</a></li>
                    </ul>
                </li>

                {% if is_granted("ROLE_USER") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class='glyphicon glyphicon-user'></i> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('crud_user_profile_update') }}" data-toggle='modal' data-target='#modalBaseAjax'>{% trans %}Your Profile{% endtrans %}</a></li>
                            <li><a href="{{ path('security_change_password') }}" id='menuChangePassword' data-toggle='modal' data-target='#modalBaseAjax'>{% trans %}Change Password{% endtrans %}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('logout_route') }}">{% trans %}Logout{% endtrans %}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
