{% extends "::base.html.twig" %}

{% block title %}{% trans %}Submit Monitoring Action{% endtrans %}{% endblock %}

{% block content %}

    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Submit Monitoring Action{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:Protocol:protocol_header.html.twig' %}

        <!-- action -->
        <form method="POST" id='form-action' action="">
            <input type="hidden" name="monitoring-action" value="{{ monitoring_action.id }}">

            <div class='block action'>
                <a name='action'></a>
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Actions{% endtrans %}:</h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group required">
                            <label for="select-monitoring-action">{% trans %}Monitoring Action{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 99} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <select class='form-control' id="select-monitoring-action" required disabled>
                                <option value="{{ monitoring_action.id }}">{{ monitoring_action.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}File submission{% endtrans %}:</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <table class='table table-hover table-condensed' id='table-attachment'>

                                <thead>
                                    <tr>
                                        <th>{% trans %}Type{% endtrans %}</th>
                                        <th>{% trans %}File name{% endtrans %}</th>
                                        <th>{% trans %}Date & Time{% endtrans %}</th>
                                        <th>{% trans %}Actions{% endtrans %}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for file in submission.attachments if file.isMonitoringAction %}
                                        <tr>
                                            <td>{{ file.uploadType }}</td>
                                            <td>{{ file.filename }}</td>
                                            <td>{{ file.created|date("d/m/Y H:i") }}</td>
                                            <td>
                                                <a href='{{ asset(file.uri) }}' target="_blank" class='btn btn-default btn-xs' target="_blank">
                                                    <i class='glyphicon glyphicon-eye-open'></i>
                                                </a>
                                                <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment">
                                                    <i class='glyphicon glyphicon-trash'></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td colspan="4"><i>No have files</i></td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-file">{% trans %}New Attachment{% endtrans %}</a>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group required">
                            <label for="textarea-justification">{% trans %}Justification{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 100} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <textarea class='form-control' id="textarea-justification" name="justification" required></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='submission-button-controls col-md-12'>
                    <a href="" class='btn btn-danger'>{% trans %}Cancel{% endtrans %}</a>
                    <button type="submit" class='btn btn-primary'>{% trans %}Submit monitoring action{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Novo Investigador -->
    <div class="modal fade" id="modal-new-file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-new-attachment' enctype="multipart/form-data" action="">
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ 10*1024*1024 }}" />

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="select-new-atachment-type">{% trans %}Type{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 101} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <select class='form-control selectpicker' data-live-search="true" name='new-atachment-type' id='select-new-atachment-type' required>
                                <option></option>
                                {% for type in upload_types %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="input-new-atachment-file">{% trans %}File{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 102} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='file' class='form-control' name='new-atachment-file' id='input-new-atachment-file' required>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Confirmar Exclusão -->
    <div class="modal fade" id="modal-delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-delete-attachment'>
                <input type="hidden" name="delete-attachment-id" id='hidden-delete-attachment' value="" />

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <p>{% trans %}Do you confirm the exclusion of this attachment?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#table-attachment").on("click", ".button-delete-attachment", function(e){
                var id = $(this).data('id');
                $("#hidden-delete-attachment").val(id);
            });
        });

        $('#modal-delete-attachment').on('hidden.bs.modal', function () {
            $("#hidden-delete-attachment").val("");
        })
    </script>
{% endblock %}
