{% extends "::base.html.twig" %}

{% block title %}{% trans %}Protocols{% endtrans %}{% endblock %}

{% block content %}

    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">
                    {% trans %}Submitted Protocols{% endtrans %}
                </h1>
            </div>
        </div>

        <div class='block'>
            <form class="form-group" id='form-search'>

                <input type="hidden" name="output" id="input-output" value="html" />
                <input type="hidden" name="export-format" id="input-export-format" value="" />

                <div class='row'>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="input-filter-q">{% trans %}Find protocols{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 82} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='text' class='form-control' id='input-filter-q' name='q' value="{{ app.request.get('q') }}">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="select-filter-status">{% trans %}Status{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 83} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <select class='form-control selectpicker submit-on-change' id="select-filter-status" name="status" data-live-search="true">
                                <option value="" {% if app.request.get('status') == "" %}selected{% endif %}>{% trans %}All{% endtrans %}</option>
                                <option value="S" {% if app.request.get('status') == "S" %}selected{% endif %}>{% trans %}Submitted{% endtrans %}</option>
                                <option value="R" {% if app.request.get('status') == "R" %}selected{% endif %}>{% trans %}Returned{% endtrans %}</option>
                                <option value="I" {% if app.request.get('status') == "I" %}selected{% endif %}>{% trans %}Waiting for initial evaluation{% endtrans %}</option>
                                <option value="E" {% if app.request.get('status') == "E" %}selected{% endif %}>{% trans %}Waiting for Committee{% endtrans %}</option>
                                <option value="H" {% if app.request.get('status') == "H" %}selected{% endif %}>{% trans %}Scheduled{% endtrans %}</option>
                                <option value="F" {% if app.request.get('status') == "F" %}selected{% endif %}>{% trans %}Exempt{% endtrans %}</option>
                                <option value="T" {% if app.request.get('status') == "T" %}selected{% endif %}>{% trans %}Withdrawn{% endtrans %}</option>
                                <option value="A" {% if app.request.get('status') == "A" %}selected{% endif %}>{% trans %}Approved{% endtrans %}</option>
                                <option value="N" {% if app.request.get('status') == "N" %}selected{% endif %}>{% trans %}Not approved{% endtrans %}</option>
                                <option value="C" {% if app.request.get('status') == "C" %}selected{% endif %}>{% trans %}Observations to address{% endtrans %}</option>
                                <option value="MA" {% if app.request.get('status') == "MA" %}selected{% endif %}>{% trans %}Monitoring Action{% endtrans %}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-1 search-button">
                        <div class="form-group">
                            <a href="#" class='btn btn-warning' id="export-to-csv-button" data-toggle="modal" data-target="#modal-export-csv">{% trans %}Export to CSV{% endtrans %}</a>
                        </div>
                    </div>

                    <div class="col-md-1 search-button">
                        <div class="form-group">
                            <button class='btn btn-primary' id="id-search-button" type='submit'>{% trans %}Search{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class='block'>
            <div class='row'>
                <div class="col-md-12">
                    <table class='table table-hover table-condensed'>

                        <thead>
                            <tr>
                                <th width="10%">{% trans %}ID{% endtrans %}</th>
                                <th width="50%">{% trans %}Public Title{% endtrans %}</th>
                                <th>{% trans %}Type{% endtrans %}</th>
                                <th>{% trans %}Last Update{% endtrans %}</th>
                                <th>{% trans %}Status{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for protocol in protocols %}
                                <tr>
                                    <td data-label="{% trans %}ID{% endtrans %}">{% if protocol.code %}{{ protocol.code }}{% else %}-{% endif %}</td>
                                    <td data-label="{% trans %}Public Title{% endtrans %}">{{ protocol.mainSubmission.publicTitle }}</td>
                                    <td data-label="{% trans %}Type{% endtrans %}">
                                        {% if protocol.monitoringAction %}
                                            <span class='label label-success'>{% trans %}Monitoring Action{% endtrans %}</span>
                                        {% else %}
                                            {% if protocol.mainSubmission.isClinicalTrial %}
                                                <span class='label label-warning'>{% trans %}Clinical Trial{% endtrans %}</span>
                                            {% elseif protocol.mainSubmission.isConsultation %}
                                                <span class='label label-info'>{% trans %}Consultation{% endtrans %}</span>
                                            {% else %}
                                                <span class='label label-primary'>{% trans %}Research{% endtrans %}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td data-label="{% trans %}Last Update{% endtrans %}">{{ protocol.updateDate|date("d/m/Y") }}</td>
                                    <td data-label="{% trans %}Status{% endtrans %}">{{ protocol.statusLabel|trans }}</td>
                                    <td data-label="{% trans %}Actions{% endtrans %}">
                                        {% if 'administrator' in app.user.getRolesSlug and protocol.isMigrated %}<a href='{{ path("submission_new_second_step", {submission_id: protocol.mainSubmission.id}) }}' class='btn btn-warning btn-xs' data-toggle="tooltip" data-placement="top" title="{% trans %}This is a migrated protocol. You can edit some informations.{% endtrans %}"><i class='glyphicon glyphicon-pencil'></i></a>{% endif %}
                                        <a href='{{ path("protocol_show_protocol", {protocol_id: protocol.id}) }}' class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{% trans %}See protocol{% endtrans %}"><i class='glyphicon glyphicon-eye-open'></i></a>
                                        {% if protocol.status == "S" and 'secretary' in app.user.getRolesSlug %}<a href='{{ path("protocol_analyze_protocol", {protocol_id: protocol.id}) }}' class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{% trans %}Analyze protocol{% endtrans %}"><i class='glyphicon glyphicon-pencil'></i></a>{% endif %}
                                        {% if protocol.status == "I" and 'secretary' in app.user.getRolesSlug %}<a href='{{ path("protocol_initial_committee_screening", {protocol_id: protocol.id}) }}' class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{% trans %}Initial Committee Screening{% endtrans %}"><i class='glyphicon glyphicon-pencil'></i></a>{% endif %}
                                        {% if protocol.status == "E" and 'secretary' in app.user.getRolesSlug %}<a href='{{ path("protocol_initial_committee_review", {protocol_id: protocol.id}) }}' class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{% trans %}Initial Committee Review{% endtrans %}"><i class='glyphicon glyphicon-pencil'></i></a>{% endif %}
                                        
                                        {% if protocol.status == "H" and 'secretary' in app.user.getRolesSlug %}<a href='{{ path("protocol_end_review", {protocol_id: protocol.id}) }}' class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{% trans %}End protocol review{% endtrans %}"><i class='glyphicon glyphicon-pencil'></i></a>{% endif %}
                                        
                                        {% if protocol.status != "A" and 'administrator' in app.user.getRolesSlug %}<span data-toggle="tooltip" data-placement="top" title="{% trans %}Delete this protocol{% endtrans %}"><a href='{{ path("protocol_delete", {protocol_id: protocol.id} ) }}' class='btn btn-danger btn-xs' data-toggle='modal' data-target='#modalBaseAjax'><i class='glyphicon glyphicon-trash'></i></a></span>{% endif %}

                                        {% if protocol.status in ["R","C"] and 'secretary' in app.user.getRolesSlug %}<span data-toggle="tooltip" data-placement="top" title="{% trans %}Retrieve protocol{% endtrans %}"><a href='{{ path("protocol_retrieve", {protocol_id: protocol.id} ) }}' class='btn btn-default btn-xs' data-toggle='modal' data-target='#modalBaseAjax'><i class='glyphicon glyphicon-transfer'></i></a></span>{% endif %}
                                        {% if protocol.status in ["S","I","E","H"] and 'secretary' in app.user.getRolesSlug %}<span data-toggle="tooltip" data-placement="top" title="{% trans %}Withdraw protocol{% endtrans %}"><a href='{{ path("protocol_withdraw", {protocol_id: protocol.id} ) }}' class='btn btn-default btn-xs' data-toggle='modal' data-target='#modalBaseAjax'><i class='glyphicon glyphicon-stop'></i></a></span>{% endif %}
                                        {% if protocol.status in ["E","H"] and app.user in protocol.revisionUsers %}<a href='{{ path("protocol_initial_committee_review_revisor", {protocol_id: protocol.id}) }}' class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{% trans %}Send protocol revision{% endtrans %}"><i class='glyphicon glyphicon-list-alt'></i></a>{% endif %}
                                        {% if protocol.status in ["A","N","C"] and 'secretary' in app.user.getRolesSlug %}<a href='{{ path("protocol_send_alert", {protocol_id: protocol.id}) }}' class='btn btn-default btn-xs send-alert' data-toggle="tooltip" data-placement="top" title="{% trans %}Resend message{% endtrans %}"><i class='glyphicon glyphicon-send'></i></a>{% endif %}
                                        <span data-toggle="tooltip" data-placement="top" title="{% trans %}Add a monitoring action{% endtrans %}">
                                            <a href='{{ path("protocol_new_monitoring", {protocol_id: protocol.id}) }}' data-toggle='modal' data-target="#modalBaseAjax" class='btn btn-primary btn-xs {% if protocol.status not in ["A"] %}disabled{% endif %}'><i class='glyphicon glyphicon-record'></i></a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    <!-- Modal Export CSV -->
    <div class="modal fade" id="modal-export-csv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="modal-inner close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Export to CSV{% endtrans %}</h4>
                </div>

                <div class="modal-body text-center">
                    <p>{% trans %}Which CSV file format would you like to export?{% endtrans %}</p>
                    <div class="export-format">
                        <a href="#" class='btn btn-warning' id="simple-export-to-csv-button">{% trans %}Simple File{% endtrans %}</a>
                        <a href="#" class='btn btn-warning' id="full-export-to-csv-button">{% trans %}Full File{% endtrans %}</a>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modal-inner" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal confirm if that send message -->
    <div class="modal fade" id="modal-confirm-send-alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">

            <input type="hidden" name="send-alert" id='hidden-send-alert' value="" />

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Are you sure you want to continue?{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans %}Are you sure you want to resend to investigators the message from "end review"?{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="button" class="btn btn-danger" id="button-confirm-send-alert">{% trans %}go on{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#simple-export-to-csv-button").click(function(){
                $("#input-output").val('csv');
                $("#input-export-format").val('simple');
                $("#form-search").submit();
            });

            $("#full-export-to-csv-button").click(function(){
                $("#input-output").val('csv');
                $("#input-export-format").val('full');
                $("#form-search").submit();
            });

            $("#id-search-button").click(function(){
                $("#input-output").val('html');
                $("#form-search").submit();
            });

            $(".submit-on-change").change(function(){
                $("#input-output").val('html');
                $("#form-search").submit();
            });

            // send message
            $('a.send-alert').on('keypress click', function(e){
                e.preventDefault();
                
                var href = $(this).attr('href');
                $('#hidden-send-alert').val(href);
                $('#modal-confirm-send-alert').modal('show');
                
                return false;
            });

            $('#button-confirm-send-alert').on('keypress click', function(e){
                var href = $('#hidden-send-alert').val();
                window.location = href;
            });
        });
    </script>
{% endblock %}
