{% extends "::base.html.twig" %}

{% block title %}{% trans %}Contact{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content download-docs">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Contact{% endtrans %}</h1>
            </div>
        </div>

        <div class="block">
            <form class='form' method="POST">
                <div class='row'>
                    <div class="col-md-12">
                        <p>{% trans %}Send us a message by entering the fields below, or write to us at{% endtrans %} {{ committee_email }}.</p>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="input-contact-name">{% trans %}Name{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 84} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='text' class='form-control' id='input-contact-name' name='name' required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="input-contact-email">{% trans %}Email{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 85} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='text' class='form-control' id='input-contact-email' name='email' required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="input-contact-subject">{% trans %}Subject{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 86} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='text' class='form-control' id='input-contact-subject' name='subject' required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="textarea-contact-message">{% trans %}Message{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 87} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <textarea class='form-control' id='textarea-contact-message' name='message' rows='10' required></textarea>
                        </div>
                    </div>

                    <div class="col-md-1 search-button">
                        <div class="form-group">
                            <button class='btn btn-primary'>{% trans %}Send Message{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="block">
            <div class="row">
                <div class="col-md-12">
                    <h2 class='sub-header'>[{{ committee_prefix }}] {{ committee_name }}</h2>
                    
                    <p>{{ committee_address }}</p>
                    <p>{{ committee_phones|raw }}</p>
                </div>
            </div>    
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        $(function(){

        });
    </script>
{% endblock %}
