{% extends "::base.html.twig" %}

{% block title %}{% trans %}Frequently Asked Questions{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">
                    {% trans %}Frequently Asked Questions{% endtrans %}
                    <a href='#' class='btn btn-primary' data-toggle='modal' data-target='#modal-new-question'>{% trans %}New Question{% endtrans %}</a>
                </h1>
            </div>
        </div>
        
        <div class='block'>
            <form class='form'>
                <div class='row'>
                    <div class="col-md-11">
                        <div class="form-group" id='form-filter'>
                            <label for="input-filter-q">{% trans %}Search for a question{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 88} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='text' class='form-control' id='input-filter-q' name='q' value="{{ app.request.get('q') }}">
                        </div>
                    </div>

                    <div class="col-md-1 search-button">
                        <div class="form-group">
                            <button class='btn btn-primary'>{% trans %}Search{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
            
        <div class='block'>
            <div class='row'>
                <div class="col-md-12">
                    <table class='table table-hover table-condensed'>
                        
                        <thead>
                            <tr>
                                <th width="80%">{% trans %}Question{% endtrans %}</th>
                                <th width="">{% trans %}Status{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for question in faqs %}
                                <tr>
                                    <td>{{ question.question }}</td>
                                    <td>
                                        {% if question.status %}
                                            <span class='label label-success'>{% trans %}active{% endtrans %}</span>
                                        {% else %}
                                            <span class='label label-default'>{% trans %}inactive{% endtrans %}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path("crud_committee_faq_update", {faq_id: question.id}) }}" data-toggle="modal" data-target="#modal-update-question" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a href="{{ path('crud_committee_faq_delete', {faq_id: question.id} ) }}" data-toggle="modal" data-target="#modal-delete-question" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal New Question -->
    <div class="modal fade" id="modal-new-question" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form class='form' method="POST" id='form-new-question'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Question{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-new-question">{% trans %}Question{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 89} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type='text' class='form-control' id="input-new-question" name="new-question" required>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-new-question-es_ES">{% trans %}Question in Spanish{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 192} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type='text' class='form-control' id="input-new-question-es_ES" name="new-question-es_ES">
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-new-question-pt_BR">{% trans %}Question in Portuguese{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 193} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type='text' class='form-control' id="input-new-question-pt_BR" name="new-question-pt_BR">
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-new-question-fr_FR">{% trans %}Question in French{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 194} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type='text' class='form-control' id="input-new-question-fr_FR" name="new-question-fr_FR">
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-new-question-answer">{% trans %}Answer{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 90} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <textarea rows="5" class='form-control' id="input-new-question-answer" name='new-question-answer' required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-new-question-answer-es_ES">{% trans %}Answer in Spanish{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 195} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <textarea rows="5" class='form-control' id="input-new-question-answer-es_ES" name='new-question-answer-es_ES'></textarea>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-new-question-answer-pt_BR">{% trans %}Answer in Portuguese{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 196} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <textarea rows="5" class='form-control' id="input-new-question-answer-pt_BR" name='new-question-answer-pt_BR'></textarea>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-new-question-answer-fr_FR">{% trans %}Answer in French{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 197} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <textarea rows="5" class='form-control' id="input-new-question-answer-fr_FR" name='new-question-answer-fr_FR'></textarea>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label for="input-new-question-status">
                                            <input type="checkbox" id='input-new-question-status' name='new-question-status' value="true" checked> {% trans %}Active?{% endtrans %}
                                            <a href="{{ path("crud_admin_help_show", {help_id: 91} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal Update Question -->
    <div class="modal fade" id="modal-update-question" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <!-- Modal Delete Question -->
    <div class="modal fade" id="modal-delete-question" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('#form-new-question textarea').wysihtml5(); 
    </script>
{% endblock %}