{% extends "::base.html.twig" %}

{% block title %}{% trans %}Documents{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">
                    {% trans %}Documents{% endtrans %}
                    <a href='#' class='btn btn-primary' data-toggle='modal' data-target='#modal-new-document'>{% trans %}New Document{% endtrans %}</a>
                </h1>
            </div>
        </div>
        
        <div class='block'>
            <form class='form'>
                <div class='row'>
                    <div class="col-md-11">
                        <div class="form-group" id='form-filter'>
                            <label for="input-filter-q">{% trans %}Search for a document{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 92} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='text' class='form-control' id='input-filter-q' name='q' value="{{ app.request.get('q') }}">
                        </div>
                    </div>

                    <div class="col-md-1 search-button">
                        <div class="form-group">
                            <button class='btn btn-primary'>{% trans %}Search{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
            
        <div class='block'>
            <div class='row'>
                <div class="col-md-12">
                    <table class='table table-hover table-condensed'>
                        
                        <thead>
                            <tr>
                                <th width="60%">{% trans %}Title{% endtrans %}</th>
                                <th width="">{% trans %}File name{% endtrans %}</th>
                                <th width="">{% trans %}Role{% endtrans %}</th>
                                <th width="">{% trans %}Status{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for document in documents %}
                                <tr>
                                    <td>{{ document.title }}</td>
                                    <td>{{ document.filename }}</td>
                                    <td>
                                        {% for role in document.roles %}
                                            <span class='label label-default' data-toggle='tooltip' data-placement='top' title='{{ role.name }}'>{{ role.slug|first|upper }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if document.status %}
                                            <span class='label label-success'>{% trans %}active{% endtrans %}</span>
                                        {% else %}
                                            <span class='label label-default'>{% trans %}inactive{% endtrans %}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path("crud_committee_document_update", {document_id: document.id}) }}" data-toggle="modal" data-target="#modal-ajax-document" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a href="{{ path("crud_committee_document_delete", {document_id: document.id}) }}" data-toggle="modal" data-target="#modal-ajax-document" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal New Document -->
    <div class="modal fade" id="modal-new-document" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form enctype="multipart/form-data" class='form' method="POST" id='form-new-document'>
                    <input type="hidden" name="MAX_FILE_SIZE" value="{{ 10*1024*1024 }}" />
                    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Document{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-title">{% trans %}Title{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 93} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type='text' class='form-control' id="input-title" name="title" required>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-description">{% trans %}Description{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 94} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <textarea class='form-control' id="input-description" name="description"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="select-role">{% trans %}Role{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 70} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <select class='form-control' id="select-role" name="roles[]" multiple>
                                        {% for role in roles %}
                                            <option value="{{ role.id }}">{{ role.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-file">{% trans %}File{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 96} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type='file' class='form-control' id="input-file" name="file" required>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label for="input-status">
                                            <input type="checkbox" id='input-status' name='status' value="true" checked> {% trans %}Active?{% endtrans %}
                                            <a href="{{ path("crud_admin_help_show", {help_id: 97} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal ajax Document -->
    <div class="modal fade" id="modal-ajax-document" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            
           
        });

        
    </script>
{% endblock %}
