{% extends "::base.html.twig" %}

{% block title %}{% trans %}Users{% endtrans %}{% endblock %}

{% block content %}

    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">
                    {% trans %}Users{% endtrans %}
                    <a href='#' class='btn btn-primary' data-toggle='modal' data-target='#modal-new-user'>{% trans %}New User{% endtrans %}</a>
                </h1>
            </div>
        </div>

        <div class='block'>
            <form class='form' id='form-search'>
                <input type="hidden" name="output" id="input-output" value="html" />

                <div class='row'>
                    <div class="col-md-10">
                        <div class="form-group" id='form-filter'>
                            <label for="input-filter-q">{% trans %}Search for a user{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 56} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='text' class='form-control' id='input-filter-q' name='q' value="{{ app.request.get('q') }}">
                        </div>
                    </div>

                    <div class="col-md-1 search-button">
                        <div class="form-group">
                            <a href="#" class='btn btn-warning' id="export-to-csv-button">{% trans %}Export to CSV{% endtrans %}</a>
                        </div>
                    </div>

                    <div class="col-md-1 search-button">
                        <div class="form-group">
                            <button type="submit" class='btn btn-primary' id="id-search-button">{% trans %}Search{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class='block'>
            <div class='row'>
                <div class="col-md-12">
                    <table class='table table-hover table-condensed'>

                        <thead>
                            <tr>
                                <th width="30%">{% trans %}Name{% endtrans %}</th>
                                <th width="">{% trans %}Username{% endtrans %}</th>
                                <th width="">{% trans %}Email{% endtrans %}</th>

                                <th width="">{% trans %}Country{% endtrans %}</th>
                                <!-- <th width="">{% trans %}Institution{% endtrans %}</th> -->

                                <th width="">{% trans %}Roles{% endtrans %}</th>
                                <th width="">{% trans %}Status{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>

                                    <td>{{ user.country }}</td>
                                    <!-- <td>{{ user.institution }}</td> -->

                                    <td>
                                        {% for role in user.proethos2Roles %}
                                            <span class='label label-default' data-toggle='tooltip' data-placement='top' title='{{ role.name }}'>{{ role.slug|first|upper }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if user.isActive %}
                                            <span class='label label-success'>{% trans %}active{% endtrans %}</span>
                                        {% else %}
                                            <span class='label label-default'>{% trans %}inactive{% endtrans %}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span data-toggle='tooltip' data-placement='top' title="{% trans %}Edit roles{% endtrans %}">
                                            <a href="{{ path("crud_committee_user_role_update", {user_id: user.id}) }}" data-toggle="modal" data-target="#modal-ajax-user" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-user"></i></a>
                                        </span>
                                        <span data-toggle='tooltip' data-placement='top' title="{% trans %}Edit user's information{% endtrans %}">
                                            <a href="{{ path("crud_committee_user_update", {user_id: user.id}) }}" data-toggle="modal" data-target="#modal-ajax-user" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                                        </span>
                                        <span data-toggle='tooltip' data-placement='top' title="{% trans %}Get user's link to change password{% endtrans %}">
                                            <a href="{{ path("crud_committee_user_get_key_to_change_password", {user_id: user.id}) }}" data-toggle="modal" data-target="#modal-ajax-user" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-lock"></i></a>
                                        </span>
                                        <span data-toggle='tooltip' data-placement='top' title="{% trans %}Exclude user{% endtrans %}">
                                            <a href="{{ path("crud_committee_user_delete", {user_id: user.id}) }}" data-toggle="modal" data-target="#modal-ajax-user" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal New User -->
    <div class="modal fade" id="modal-new-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="user">
            <div class="modal-content">
                <form enctype="multipart/form-data" class='form' method="POST" id='form-new-user'>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New User{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group required">
                                    <label for="input-username">{% trans %}Username{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 57} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type='text' class='form-control' id="input-username" name="username" required>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group required">
                                    <label for="input-email">{% trans %}Email{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 58} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type='email' class='form-control' id="input-email" name="email" required>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group required">
                                    <label for="input-name">{% trans %}Name{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 59} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type='text' class='form-control' id="input-name" name="name" required>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group required">
                                    <label for="select-country">{% trans %}Country{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 60} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <select class='form-control select-select2' id="select-country" name="country" required>
                                        <option value="">{% trans %}Select country{% endtrans %}</option>
                                        {% for country in countries %}
                                            <option value="{{ country.id }}">{{ country }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-institution">{% trans %}Institution{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 61} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type='text' class='form-control' id="input-institution" name="institution">
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label for="input-status">
                                            <input type="checkbox" id='input-status' name='status' value="true" checked> {% trans %}Active?{% endtrans %}
                                            <a href="{{ path("crud_admin_help_show", {help_id: 62} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal ajax User -->
    <div class="modal fade" id="modal-ajax-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="user">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#export-to-csv-button").click(function(){
                $("#input-output").val('csv');
                $("#form-search").submit();
            });

            $("#id-search-button").click(function(){
                $("#input-output").val('html');
                $("#form-search").submit();
            });
        });


    </script>
{% endblock %}
