<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ meeting.subject }}</h4>
</div>
<div class="modal-body">
    
    <div class='row'>
        <div class='col-md-12'>
            <ul class="list-group">
                <li class="list-group-item">
                    <b>{% trans %}Subject{% endtrans %}</b>: 
                    {{ meeting.subject }}
                </li>
                <li class="list-group-item">
                    <b>{% trans %}Date{% endtrans %}</b>: 
                    {{ meeting.date|date("d/m/Y") }}
                </li>
                <li class="list-group-item">
                    <b>{% trans %}Content{% endtrans %}</b>: 
                    <p>
                        {{ meeting.content|nl2br }}
                    </p>
                </li>
                {% if meeting.filename %}
                    <li class="list-group-item">
                        <b>{% trans %}File{% endtrans %}</b>: 
                        {{ meeting.realFilename }}

                        <div class="pull-right">
                            <a href='{{ path("crud_committee_meeting_upload", {'meeting_id': meeting.id }) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                            {% if 'secretary' in app.user.rolesSlug %}
                                <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-toggle="modal" data-target="#modal-delete-attachment">
                                    <i class='glyphicon glyphicon-trash'></i>
                                </a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <table class='table table-striped table-condensed'>
                <thead>
                    <tr>
                        <th width="15%">{% trans %}ID{% endtrans %}</th>
                        <th width="80%">{% trans %}Protocol{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for protocol in protocols %}
                        <tr>
                            <td>{{ protocol.code }}</td>
                            <td>{{ protocol.mainSubmission.publicTitle }}</td>
                            <td>
                                <a href='{{ path("protocol_show_protocol", {protocol_id: protocol.id}) }}' class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{% trans %}See protocol{% endtrans %}"><i class='glyphicon glyphicon-eye-open'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>                     

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
</div>

<!-- Modal Confirmar Exclusão -->
<div class="modal fade" id="modal-delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form class='form' method="POST" id='form-delete-attachment' action="{{ path("crud_committee_meeting_show", {meeting_id: meeting.id} ) }}">

            <input type="hidden" name="token" value="{{ csrf_token('delete-attachment') }}"/>
            <input type="hidden" name="delete-attachment" id='hidden-delete-attachment' value="yes" />

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="modal-inner close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Attachment{% endtrans %}</h4>
                </div>

                <div class="modal-body">
                    <p>{% trans %}Do you confirm the exclusion of this attachment?{% endtrans %}</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modal-inner">{% trans %}Close{% endtrans %}</button>
                    <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% block script %}
    <script>
        $(function(){
            $(document).on('click', 'button.modal-inner', function(){
                $('#modal-delete-attachment').modal('hide');
            });
        });
    </script>
{% endblock %}
