<form class='form' method="POST" id='form-update-user' action='{{ path("crud_committee_user_role_update", {user_id: user.id}) }}'>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans %}Update User's Roles{% endtrans %}</h4>
    </div>
    <div class="modal-body">
        
        {% for role in roles %}
            <div class='row'>
                <div class='col-md-12'>
                    <div class="form-group">
                        <div class="checkbox">
                            <label for="checkbox-{{ role.slug }}">
                                <input type="checkbox" id="checkbox-{{ role.slug }}" name="{{ role.slug }}" {% if role in user.proethos2Roles %}checked{% endif %}> {{ role.name }}
                                <a href="{{ path("crud_admin_help_show", {help_id: 52} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
    </div>
</form>