<form class='form' method="POST" id='form-update-question' action='{{ path("crud_committee_faq_update", {faq_id: question.id}) }}'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans %}Update Question{% endtrans %}</h4>
    </div>
    <div class="modal-body">
        
        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="input-new-question">{% trans %}Question{% endtrans %}:</label> 
                    <a href="{{ path("crud_admin_help_show", {help_id: 78} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <input type='text' class='form-control' id="input-new-question" name="new-question" required value="{% if translations.en is defined %}{{ translations.en.question }}{% endif %}">
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="input-new-question-es_ES">{% trans %}Question in Spanish{% endtrans %}:</label> 
                    <a href="{{ path("crud_admin_help_show", {help_id: 186} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <input type='text' class='form-control' id="input-new-question-es_ES" name="new-question-es_ES" value="{% if translations.es_ES is defined %}{{ translations.es_ES.question }}{% endif %}">
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="input-new-question-pt_BR">{% trans %}Question in Portuguese{% endtrans %}:</label> 
                    <a href="{{ path("crud_admin_help_show", {help_id: 187} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <input type='text' class='form-control' id="input-new-question-pt_BR" name="new-question-pt_BR" value="{% if translations.pt_BR is defined %}{{ translations.pt_BR.question }}{% endif %}">
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="input-new-question-fr_FR">{% trans %}Question in French{% endtrans %}:</label> 
                    <a href="{{ path("crud_admin_help_show", {help_id: 188} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <input type='text' class='form-control' id="input-new-question-fr_FR" name="new-question-fr_FR" value="{% if translations.fr_FR is defined %}{{ translations.fr_FR.question }}{% endif %}">
                </div>
            </div>
        </div>
        
        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="input-new-question-answer">{% trans %}Answer{% endtrans %}:</label> 
                    <a href="{{ path("crud_admin_help_show", {help_id: 79} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <textarea rows="5" class='form-control' id="input-new-question-answer" name='new-question-answer' required>{% if translations.en is defined %}{{ translations.en.answer }}{% endif %}</textarea>
                </div>
            </div>
        </div>

         <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="input-new-question-answer-es_ES">{% trans %}Answer in Spanish{% endtrans %}:</label> 
                    <a href="{{ path("crud_admin_help_show", {help_id: 189} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <textarea rows="5" class='form-control' id="input-new-question-answer-es_ES" name='new-question-answer-es_ES'>{% if translations.es_ES is defined %}{{ translations.es_ES.answer }}{% endif %}</textarea>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="input-new-question-answer-pt_BR">{% trans %}Answer in Portuguese{% endtrans %}:</label> 
                    <a href="{{ path("crud_admin_help_show", {help_id: 190} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <textarea rows="5" class='form-control' id="input-new-question-answer-pt_BR" name='new-question-answer-pt_BR'>{% if translations.pt_BR is defined %}{{ translations.pt_BR.answer }}{% endif %}</textarea>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="input-new-question-answer-fr_FR">{% trans %}Answer in French{% endtrans %}:</label> 
                    <a href="{{ path("crud_admin_help_show", {help_id: 191} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <textarea rows="5" class='form-control' id="input-new-question-answer-fr_FR" name='new-question-answer-fr_FR'>{% if translations.fr_FR is defined %}{{ translations.fr_FR.answer }}{% endif %}</textarea>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="input-new-question-status">
                            <input type="checkbox" id='input-new-question-status' name='new-question-status' value="true" {% if question.status %}checked{% endif %}> {% trans %}Active?{% endtrans %}
                            <a href="{{ path("crud_admin_help_show", {help_id: 80} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
    </div>
</form>

<script>
    $('#form-update-question textarea').wysihtml5(); 
</script>